.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
target/*

# External tool builders
.externalToolBuilders/

# Java annotation processor (APT)
.factorypath

# sbteclipse plugin
.target

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Game data files
accounts
nutella.log

